.DS_Store
/.build
/dist
/Packages
AppResources/SleepLatch.icns
AppResources/SleepLatch.iconset/
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
